<div id="main_display" class="container-fluid" style="padding:48px">
    <div id="myModal" class="modal">
        <div class="modal-content">
            <h1><span id="close">&times;</span></h1>
            <form>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="clientSelect">Client</label>
                                    <select class="form-control" id="clientSelect">
                                        <option>NA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="codeSelect">Billing Code</label>
                                    <select class="form-control" id="codeSelect">
                                        <option>Sup</option>
                                        <option>PE</option>
                                        <option>Ind</option>
                                        <option>Clinic Development</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="timeSelect">Hours</label>
                                    <select class="form-control" id="timeHourSelect">
                                        <option class="1period" data-am="1" data-pm="13">1</option>
                                        <option class="2period" data-am="2" data-pm="14">2</option>
                                        <option class="3period" data-am="3" data-pm="15">3</option>
                                        <option class="4period" data-am="4" data-pm="16">4</option>
                                        <option class="5period" data-am="5" data-pm="17">5</option>
                                        <option class="6period" data-am="6" data-pm="18">6</option>
                                        <option class="7period" data-am="7" data-pm="19">7</option>
                                        <option class="8period" data-am="8" data-pm="20">8</option>
                                        <option class="9period" data-am="9" data-pm="21">9</option>
                                        <option class="10period" data-am="10" data-pm="22">10</option>
                                        <option class="11period" data-am="11" data-pm="23">11</option>
                                        <option class="12period" data-am="24" data-pm="12">12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="timeSelect">Minutes</label>
                                    <select class="form-control" id="timeMinuteSelect">
                                        <option value="00">00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Period</label>
                                    <select class="form-control" id="timePeriodSelect">
                                        <option>AM</option>
                                        <option>PM</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>Duration</label>
                                    <select class="form-control" id="timeDurationSelect">
                                        <option value=".25">15 Min</option>
                                        <option value=".50">30 Min</option>
                                        <option value=".75">45 Min</option>
                                        <option value="1">1Hr</option>
                                        <option value="1.25">1Hr 15 Min</option>
                                        <option value="1.50">1Hr 30 Min</option>
                                        <option value="1.75">1Hr 45 Min</option>
                                        <option value="2">2Hr</option>
                                        <option value="2.25">2Hr 15 Min</option>
                                        <option value="2.50">2Hr 30 Min</option>
                                        <option value="2.75">2Hr 45 Min</option>
                                        <option value="3">3Hr</option>
                                        <option value="3.25">3Hr 15 Min</option>
                                        <option value="3.50">3Hr 30 Min</option>
                                        <option value="3.75">3Hr 45 Min</option>
                                        <option value="4">4Hr</option>
                                        <option value="4.25">4Hr 15 Min</option>
                                        <option value="4.50">4Hr 30 Min</option>
                                        <option value="4.75">4Hr 45 Min</option>
                                        <option value="5">5Hr</option>
                                        <option value="5.25">5Hr15 Min</option>
                                        <option value="5.50">5Hr30 Min</option>
                                        <option value="5.75">5Hr45 Min</option>
                                        <option value="6">6Hr</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <div id="datepicker"></div>
                            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div id='client_section' class="col-lg-4 col-xs-12">
            <table class="table col-12">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Sup</th>
                        <th scope="col">PE</th>
                        <th scope="col">Ind</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id='calendar' class="col-xs-12 col-lg-8"></div>
    </div>
</div>