<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div id="header" class="w3-display-left" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Keep track of the hours that matter</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Keep track of the hours that matter</span><br>
    <span class="w3-large">Stop wasting time flipping through a planner.</span>
    <p class="w3-hide-small"><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Increase your productivity by getting started today!</a></p>
  </div> 
</header>

<div class="w3-container" style="padding:80px 16px" id="about">
    <h3 class="w3-center">Key features of MyClient</h3>
    {{!-- <p class="w3-center w3-large">Key features of MyClient</p> --}}
    <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-third">
            <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
            <p class="w3-large">Responsive</p>
            <p>Your schedule shouldn't be bound by a metal spiral, let alone a computer screen. Make your schedule wherever, and whenever you feel like. Our team is constantly making updates to our UI making sure we always deliver a user friendly version of our app, whether that's in the comfort of your tablet or mobility of your phone.</p>
        </div>
        <div class="w3-third">
            <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Passion</p>
            <p>This application was created out of necessity, and through the help of a community of beta users, has evolved to be what you see today. We know, like any occupation your time is valuable. Here at MyClient, we want to ease your day to day, so there isn't a moment we aren't searching for new features (.. or old bugs)</p>
        </div>
        <div class="w3-third">
            <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Support</p>
            <p>We love to hear from our users! Knowing it's not always for a pat in the back, we hope to get your feedback on anything and everything. In your apps navigation bar, you'll always have quick access to our development team, ready to help you with questions, comments and concerns.  </p>
        </div>
    </div>
</div>

<div class="w3-container w3-light-grey" style="padding:80px 16px" id="contact">
    <h3 class="w3-center">CONTACT</h3>
    <p class="w3-center w3-large">Lets chat! Send us a message:</p>
    <div style="margin-top:48px">
        <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Los Angeles, US</p>
        <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: (661)480-3724</p>
        <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: guillermo.jr23@outlook.com</p>
        <br>
        <form action="/action_page.php" target="_blank">
            <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
            <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
            <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
            <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
            <p>
                <button class="w3-button w3-black" type="submit">
                    <i class="fa fa-paper-plane"></i> SEND MESSAGE
                </button>
            </p>
        </form>
    </div>
</div>